$base-color: black;

.page{
    height: 100vh;
    display: flex;
    flex-wrap: no-wrap;
    .menu{
        width: 40vh;
        background-color: $base-color;
        margin-right: 4px;
    }
    .entries{
        width: 160vh;
        background-color: $base-color;
        display: flex;
        flex-direction: column;
        .display {
            height: 50vh;
        }
        .input{
            height: 50vh;
        }
    }
}