.container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    ::placeholder{
        color: black;
    }
    input{
        background-color: grey;
        color: white;
        height: 30px;
        margin-bottom: 5px;
        font-size: 20px;
    }
    textarea{
        height: 400px;
        background-color: grey;
        color: white;
    }
    button{
        margin-top: 10px;
        height: 40px;
        width: 300px;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: none;
    }
}